# Data
data/raw/*
!data/raw/.gitkeep
data/interim/

# Artefak hasil pipeline
artifacts/*
!artifacts/.gitkeep

# Rahasia
.env

# Python
__pycache__/
*.py[cod]
.venv/
venv/
.pytest_cache/
.ipynb_checkpoints/

# OS / editor
.DS_Store
.vscode/
.idea/